* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: greenyellow;
    border-radius: 5px;
}

.contact {
    display: flex;
    justify-content: center;
}

::-moz-selection {
    color: white;
    background: greenyellow;
}

::selection {
    color: white;
    background: greenyellow;
}